%svg{:viewbox => "0 0 100 100", :xmlns => "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-1{fill:#fff}.cls-2{isolation:isolate;}.cls-3{fill:#006bba;}.cls-4{fill:#ff81b9;}.cls-5{fill:#fc0080;}.cls-6{fill:#ffc6e3;}.cls-7{fill:#365fd9;}.cls-8{fill:#05f2c7;}.cls-9{fill:#c2f2ed;}.cls-10{fill:#023373;}
      @keyframes bg-flip-1 {
        from { fill: #fc0080 }
        to { fill: #05f2c7 }
      }
      @keyframes bg-flip-2 {
        from { fill: #ffc6e3 }
        to { fill: #006bba }
      }
      .cls-5 { animation: bg-flip-1 2s infinite steps(2,jump-none); }
      .cls-6 { animation: bg-flip-2 2s infinite steps(2,jump-none); }
      .cls-9 { animation: bg-flip-1 2s infinite steps(2,jump-none) reverse; }
      .cls-10 { animation: bg-flip-2 2s infinite steps(2,jump-none) reverse; }
  %g#Layer_2{"data-name" => "Layer 2"}
    %g#Layer_1-2{"data-name" => "Layer 1"}
      %rect.cls-1{:height => "100", :width => "100"}
      %g.brick-1.cls-2
        %polygon.cls-3{:points => "67.87 7.03 73.99 4.03 74.29 20.22 68.17 23.22 67.87 7.03"}
        %polygon.cls-4{:points => "52.9 6.12 59.02 3.12 73.99 4.03 67.87 7.03 52.9 6.12"}
        %polygon.cls-5{:points => "69.74 54.02 69.44 37.83 54.47 36.92 53.92 7.18 66.89 7.97 67.19 24.16 82.16 25.07 82.72 54.81 69.74 54.02"}
        %path.cls-6{:d => "M54.94,8.25l11,.66.27,14.35,0,1.84,1.85.11,13.13.8.52,27.74-11-.67-.27-14.34,0-1.85-1.84-.11L55.46,36,54.94,8.25m-2-2.13.59,31.74,15,.91.3,16.2,15,.91-.6-31.75-15-.91L67.87,7l-15-.91Z"}
        %polygon.cls-4{:points => "68.17 23.22 74.29 20.22 89.27 21.13 83.14 24.13 68.17 23.22"}
        %polygon.cls-3{:points => "83.14 24.13 89.27 21.13 89.86 52.88 83.73 55.88 83.14 24.13"}
      %g.brick-2.cls-2
        %polygon.cls-7{:points => "25.11 48.03 31.23 45.03 31.54 61.22 25.41 64.22 25.11 48.03"}
        %polygon.cls-8{:points => "10.14 47.12 16.27 44.12 31.23 45.03 25.11 48.03 10.14 47.12"}
        %polygon.cls-9{:points => "26.99 95.03 26.68 78.83 11.71 77.92 11.16 48.18 24.13 48.97 24.43 65.16 39.41 66.07 39.96 95.81 26.99 95.03"}
        %path.cls-10{:d => "M12.18,49.25l11,.66.26,14.35,0,1.84,1.84.11,13.13.8.52,27.74-11-.67L27.7,79.74l0-1.85-1.85-.11L12.7,77l-.52-27.73m-2-2.13.59,31.74,15,.91L26,96l15,.91-.59-31.75-15-.91L25.11,48l-15-.91Z"}
        %polygon.cls-8{:points => "25.41 64.22 31.54 61.22 46.51 62.13 40.39 65.13 25.41 64.22"}
        %polygon.cls-7{:points => "40.39 65.13 46.51 62.13 47.1 93.88 40.98 96.88 40.39 65.13"}
